.contact-form-clause {
    display: flex;
    align-items: flex-start;
}

.contact-card-text {
    text-align: left;
}

.contact-card-text span {
    display: block;
}

.card {
    display: flex;
    align-items: center;
}