.foot {
    background-color: rgb(0,109,165);
    color: #fff;    
}

.foot li {
    background-color: transparent;
    text-align: left;
}

.foot li a {
    color: #fff;
}

.foot img {
    max-height: 8vh;
}

.foot li p {
    margin-bottom: 0;
}

.social {
    color: rgb(255,255,255);
    max-width: 5vw;
}

.social i {
    margin: 0 1vw;
    color: rgb(255,255,255);
    width: 5vw;
    height: 5vw;
}

.clause {    
    font-size: .8rem; 
}

.footer-clause-btn,
.footer-clause-btn:hover,
.footer-clause-btn:active {
    border-color: transparent;
    box-shadow: none; 
    color: #fff;
    background-color: transparent; 
    font-size: .8rem;   
}

/* .fade {
    display: none;
}
.show {
    display: block;
} */