.foot {
    background-color:rgb(247,247,247);
    color: rgb(0,109,165); 
    font-size: .7rem;
}

.foot img {
    max-width: 12vw;
    margin-top: 1rem;
}

.foot-address p {
    margin: .3rem 0;
    font-size: .8rem;
}

.social {
    color: rgb(0,109,165);
    max-width: 20vw;    
    margin: 2rem auto;
}

.social-logo::before {
    margin: 0 1vw;
    color: rgb(0,109,165);
    font-size: 2rem;
}

.navbar-item-footer {
    width: 6rem;
}

/* clause below hidden till clients decision */
/* .clause {    
    font-size: .8rem; 
}

.footer-clause-btn,
.footer-clause-btn:hover,
.footer-clause-btn:active {
    border-color: transparent;
    box-shadow: none; 
    color: #fff;
    background-color: transparent; 
    font-size: .8rem;   
} */
