/* .carousel-item img {
    height: 100vh;
    width: 100vw;    
}

.carousel-item h3, 
.carousel-item p {
    text-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
} */

.jumbotron {
    position: relative;
    height: 80vh;
    padding: 20vh 0;
    margin-bottom: 0;
    background-image: url('../resources/girl-pointing.jpg');
    background-position: center;
    background-size: cover;
    color: rgba(0,0,0, .8);
}

.jumbotron-left-container {     
    height: 40vh;
    width: 25vw;
}

.jumbotron-card-container {    
    background-color: rgba(0,0,0, .1);
    height: 100%;
    border-radius: 0;
}

.jumbotron-card-deck {
    background-color: rgba(255,255,255, .3);
}

.jumbotron-header-subtitle {
    font-size: 2rem;
    color: rgba(0,0,0, .7);
    text-shadow: 0 2px 5px rgba(255,255,255,.18);
}

.jumbotron-header-title {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(0,109,165);
    text-shadow: 0 2px 5px rgba(255,255,255,.18);
}

.jumbotron-card-title {
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.jumbotron-card-subtitle {
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.jumbotron-right-container {
    background-color: rgb(255,255,255);
    width: 25vw;
    height: 40vh;
}

.jumbotron-form-money {
    padding: 2vh 5vw;
}

.jumbotron-form-money h3 {
    color: rgb(0,109,165);
    font-weight: 800;
    font-size: 2.5rem;
    padding: 2vh 0;
}

.form-range-slider {    
    width: 40vw;
    -webkit-appearance: none;
}

.form-range-slider:focus {
    outline: none;
}

/* input range in Webkit browsers */
  
.form-range-slider::-webkit-slider-thumb {
    border: 0px solid rgb(255,255,255);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: radial-gradient(rgb(255,255,255), rgb(0,109,165));
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -.75rem;
}

.form-range-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: .5rem;
    cursor: pointer;
    box-shadow: none;
    background: rgb(0,109,165);
    border-radius: 3px;
    border: 0px solid rgb(0,0,0);
}

/* input range in Firefox */

.form-range-slider::-moz-range-track {
    width: 100%;
    height: .5rem;
    cursor: pointer;
    box-shadow: none;
    background: rgb(0,109,165);
    border-radius: 3px;
    border: 0px solid #010101;
}

.form-range-slider::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid rgb(255,255,255);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: radial-gradient(rgb(255,255,255), rgb(0,109,165));
    cursor: pointer;
    margin-top: -.75rem;
}

.form-range-slider::-moz-focus-outer {
    border: 0;
}

/* input range in MS browser */

.form-range-slider::-ms-track {
    width: 100%;
    height: .5rem;
    cursor: pointer;
    box-shadow: none;
    background: transparent;
    border-color: transparent;
    border-width: 1rem 0;
}

.form-range-slider::-ms-thumb {
    border: 0px solid rgb(255,255,255);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: radial-gradient(rgb(255,255,255), rgb(0,109,165));
    cursor: pointer;
    margin-top: 0;
}

.form-range-slider::-ms-fill-lower {
    background:  rgb(0,109,165);
    border-radius: 3px;
}

.form-range-slider::-ms-fill-upper {
    background:  rgb(0,109,165);
    border-radius: 3px;
}

/* button styling */

.jumbotron-form-money input[type=submit] {
    background-color: rgb(221,19,123);
    color: rgba(255,255,255); 
    border: none;
    border-radius: 5%;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
}

.jumbotron-form-money input[type=submit]:hover {
    background-color: rgb(255,255,255);
    color: rgb(221,19,123);
}

/* second screen - texts */

.second-container {
    height: 50vh;
}

.second-container-left {
    background-color: rgb(0,109,165);
    color: rgb(221,19,123);
}

.second-container-left-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.second-container-right {
    background-color: rgb(255,255,255);
    color: rgba(0,0,0, .5);
}

.second-container-right-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* third screen - three steps to credit */

.third-container {
    height: 80vh;
    color: rgba(0,0,0, .5);
    background-color: #F7F7F7;
}

.third-container-header {
    padding: 5vh 0;
}

.third-container-header h3 {
    color: rgb(0,109,165);
}

.third-container-cards {
    margin: 0 5vh 5vh 5vh;
}

.third-container-card {
    border: none;
    background-color: rgb(247,247,247);
    padding: .5rem;
    margin: 0 auto;
    display: block;
}

.third-container-card-title {
    color: rgb(221,19,123);
}

.third-container-card-image {
    box-shadow:  0 2px 5px 0 rgba(0,0,0,.18), 0 2px 7px 0 rgba(0,0,0,.15);
    width: 7rem;
    padding: .5rem;
    border: none;
    border-radius: 50%;
    height: 7rem;
}

/* fourth screen - text easy credit and image */

.fourth-container {
    height: 80vh;
}

.fourth-container-left-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 5vw;
}

.fourth-container-left h3 {
    color: rgb(221,19,123);
    font-size: 2.5rem;
}

.fourth-container-right {
    background-image: url('../resources/portrait-of-a-businesswoman.jpg');
    background-position: center;
    background-size: cover;
    max-height: 80vh;
}

/* animated down arrow */

.arrow-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; 
}

.arrow-background {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 3rem;
    height: 3rem;
    padding: .3rem;
    border-radius: 50%;
    background-color: rgb(255,255,255);
    box-shadow:  0 2px 5px 0 rgba(0,0,0,.18), 0 2px 7px 0 rgba(0,0,0,.15);
    z-index: 100;
}

.arrow {
    position: relative;    
    animation: 1s linear infinite arrow;    
    color: rgb(221,19,123);  
    width: 2rem;
    height: 2rem;  
}

@keyframes arrow {
    from {
        top: 0;
        opacity: 0;
    } 
    to {
        top: 25%;
        opacity: .8;
    }    
}