.header-whole {
    position: fixed;
    top: 0;
    left: 0;    
    width: 100%;  
    z-index: 10;  
    background-color: rgb(255,255,255);
    background-color: #efeff0;
    margin-top: 0;
    transition: .5s all linear;
}  

.header-whole.scroll {
    margin-top: -8vh;
    top: 0;
    transition: .5s all linear;
}

.top-header {        
    max-height: 8vh;    
    transition: .3s all linear;
    padding: 0 5vw 0 5vw;    
}

.bottom-header-menu {    
    top: 0;   
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.18), 0 2px 7px 0 rgba(0,0,0,.15);
    height: 8vh; 
    z-index: 20;
    padding: 0 5vw 0 5vw;
}

.navbar-item-header {      
    margin: 0 .5rem;
}

.navbar-brand {
    padding: 0 .5rem;
}

.logo {    
    height: 8vh;    
}

.logo-container {
    top: 0;
    transition: .3s all linear;
}

.header-whole.scroll .logo-container {
    position: relative;
    top: 8vh;
    z-index: 30;
    transition: .5s all linear;
}

.bottom-nav {
    transition: .3s all linear;
}

.header-whole.scroll .bottom-nav {
    padding-left: 15vw;
}

.nav-link-header,
.nav-link {
    color: rgb(0,109,165) !important;
    height: 8vh;
    line-height: 7vh;
    padding: .5vh 0 .5vh 0;
}

.nav-link-header:hover,
.nav-link:hover {
    color: rgb(221,19,123) !important;
    text-decoration: none;
} 

.header-whole.scroll .navContact {
    position: relative;
    top: 8vh;
    z-index: 30;
}

.navContact {
    color: rgb(255,255,255);
    background-color: rgb(0,109,165);
    min-width: 10vw;
    height: 8vh;
    top: 0;
    line-height: 7vh;
    padding: .5vh .5vw .5vh .5vw;
    transition: .5s all linear;
}

.fa-phone-volume {
    color: rgb(255,255,255);
    max-height: 6vh;
    margin: .5rem;
}