.qAndA-body {
    border: none;
}

.qAndA-title {
    color: rgb(0,109,165);
    font-weight: 800;
    font-size: 2.5rem;
}

.qAndA-list {
    width: 70vw;
}

.row-qAndA {
    margin: 40vh 0 5vh 0;    
}